In [1]:
#importing connector module

import mysql.connector

#connecting to one of my databases

mydb=mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    database="soko"
)

#Check whether connection is succesfull

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000150853E1FD0>

In [9]:
#Let's create the cursor

mycursor=mydb.cursor()

#let's query the database for tables

sql="show tables"

#executing the query

mycursor.execute(sql)
#fetching the tables
#a list of tables is returned
tables=mycursor.fetchall()

#looping through the list of tuples where each table is a tuple and print each table
print("Here are all the tables in the selected  databases:\n")
for table in tables:
    for name in table:
         print(name)

Here are all the tables in the selected  databases:

address
agent
category
customer
item
orders
sales
supplier

In [16]:
#we can now fetch data from any of the tables
#prompting the user to enter name of the table to select from 

table_name=input("Enter table name..\n")

#query data from the  {table_name} table

sql=f"select * from {table_name}"

#executing our query

mycursor.execute(sql)

#fetching data 

records=mycursor.fetchall()

#data is returned as a list of turples
#looping through the list and print each turple as a row

for record in records:
    print(record)

Enter table name..
customer
(1, 'kelvin', 'Rank', 'Kelvin@gmail.com', '+254798582467', 1, '')
(2, 'steve', 'Harvey', 'steve@gmail.com', '+2546578907', 3, '')
(3, 'peter', 'druly', 'peter@gmail.com', '+71 456-234-789', 3, '')
(4, 'jane', 'wangeci', 'Jane@gmail.com', '+71 456-234-000', 4, '')
(5, 'Mary', 'wangeci', 'Mary@gmail.com', '+71 406-987-000', 5, '')
(6, 'ezekiel', 'Njue', 'Ezekiel@gmail.com', '+71 234-987-678', 1, '')
(7, 'Grace', 'Njue', 'grace@gmail.com', '+71 200-987-555', 1, '')
(10, 'junet', 'mohamed', 'junet@gmail.com', '+254 567-345-678', 3, 'junet123')
(11, 'peter', 'maina', 'peter@gmail.com', '4567893567890', None, 'ghjljhjkl;lk')
(12, 'Mercy', 'M', 'mercyM@gmail.com', '0099876', None, '55555')

In [18]:
#we  can customize our queries as we wish eg performing joins on tables 
#for example let's perform a join between item and supplier table and return item_name,price,supplier_name,supplier_email,supplier_phone


sql="select name,price,supplier_name,email,phone from item join supplier on item.supplier_id=supplier.supplier_id"
mycursor.execute(sql)

records=mycursor.fetchall()

for record in records:
    print(record)

('Hp probook 4330s', 30000, 'Microsoft', 'microsoft@gmail.tech', '+71 200-353-777')
('spider man scare crow', 5400, 'Amazon', 'amazon@yahoo..com', '+71 234-567-890')
('mountain bike sport', 21000, 'Alibaba', 'Alibaba@yahoo..com', '+71 004-500-890')
('infinix hot 9 play', 12500, 'Microsoft', 'microsoft@gmail.tech', '+71 200-353-777')

In [22]:
#adding more records to a table
#let's add another address into the address table
#columns are address_id and city but address id is set to auto_increment we will only pass the city column 

#prompt the user to enter a city he/she is familiar with

city_name=input("enter city name...\n")

sql=f"insert into address(city) values ('{city_name}')"
mycursor.execute(sql)
mydb.commit()

enter city name...
dodoma

In [23]:
#let's see whether the new record hass been added
sql="select * from address"
mycursor.execute(sql)
records=mycursor.fetchall()
for record in records:
    print(record)

(1, 'Texas')
(2, 'California')
(3, 'Dallas')
(4, 'Seatle')
(5, 'minersorta')
(6, 'Miami')
(7, 'kisii')
(8, 'kisii')
(9, 'dodoma')

In [ ]:
#The record was added succesfully!!!!

In [24]:
##
##
##
## MYSQL survey to be continued !!